// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.card{
		background: rgba(0,0,0,0.8);
		

		h1 {
			//line-height: 22px;
			//font-weight: 300;
			//font-size: 18px;
			margin: 0;
			color: #c99414;
		}

		h2 {
			//line-height: 14px;
			//font-weight: 300;
			//font-size: 12px;
			color: rgba(255,255,255,0.5);
		}


		a {
			text-transform: uppercase;
			// text-decoration: none;
			border-bottom: 1px dotted rgba(255,255,255,0.2);
			// margin-right: 4px;
			// line-height: 20px;
			//font-size: 10px;
			color: rgba(255,255,255,0.5);
		}

		a:hover {
			border-bottom: 1px dotted rgba(255,255,255,0.6);
			color: rgba(255,255,255,1.0);
		}
	}